@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
    margin: 0;      
}

body h1{
    font-size: 1.3em;
}

.container{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

form select{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 175px;
    padding: 7px;
    margin: 10px 3px;
}

form button{
    background-color: white;
    border: 1px gainsboro solid;
    outline: none;
    width: 70px;
    padding: 8px;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(243, 243, 243);
}

.container .output{
    border-radius: 5px;
    padding: 25px;
    width: 400px;
    height: 150px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid gainsboro;
}

.container .output h2{
    font-size: 1em;
}

.container .output .data
,.error{
    display: flex;
    font-size: 0.8em;
    font-weight: 600;
    justify-content: space-between;
}

